In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('GoodReads_100k_books.csv')

In [28]:
df

,author,bookformat,desc,genre,img,isbn,isbn13,link,pages,rating,reviews,title,totalratings
0,Laurence M. Hauptman,Hardcover,Reveals that several hundred thousand Indians ...,"History,Military History,Civil War,American Hi...",https://i.gr-assets.com/images/S/compressed.ph...,002914180X,9.78E+12,https://goodreads.com/book/show/1001053.Betwee...,0,3.52,5,Between Two Fires: American Indians in the Civ...,33
1,"Charlotte Fiell,Emmanuelle Dirix",Paperback,Fashion Sourcebook - 1920s is the first book i...,"Couture,Fashion,Historical,Art,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,1906863482,9.78E+12,https://goodreads.com/book/show/10010552-fashi...,576,4.51,6,Fashion Sourcebook 1920s,41
2,Andy Anderson,Paperback,The seminal history and analysis of the Hungar...,"Politics,History",https://i.gr-assets.com/images/S/compressed.ph...,948984147,9.78E+12,https://goodreads.com/book/show/1001077.Hungar...,124,4.15,2,Hungary 56,26
3,Carlotta R. Anderson,Hardcover,"""All-American Anarchist"" chronicles the life a...","Labor,History",https://i.gr-assets.com/images/S/compressed.ph...,814327079,9.78E+12,https://goodreads.com/book/show/1001079.All_Am...,324,3.83,1,All-American Anarchist: Joseph A. Labadie and ...,6
4,Jean Leveille,NaN,"Aujourdâ€™hui, lâ€™oiseau nous invite Ã sa ta...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,2761920813,NaN,https://goodreads.com/book/show/10010880-les-o...,177,4.00,1,Les oiseaux gourmands,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Simon Monk,ebook,Design custom printed circuit boards with EAGL...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,71819266,9.78007E+12,https://goodreads.com/book/show/17320181-make-...,304,4.07,7,Make Your Own PCBs with Eagle: From Schematic ...,56
99996,"Tracie L. Miller-Nobles,Brenda L. Mattison,Ell...",Hardcover,"Redefining tradition in learning accounting. ,...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,133251241,9.78013E+12,https://goodreads.com/book/show/17320260-horng...,1645,4.05,1,Horngren's Financial & Managerial Accounting,38
99997,C. John Miller,Paperback,In these warm reflections on his own growth as...,"Christianity,Evangelism,Christian,Religion,The...",https://i.gr-assets.com/images/S/compressed.ph...,875523919,9.78088E+12,https://goodreads.com/book/show/173203.A_Faith...,160,4.27,20,A Faith Worth Sharing: A Lifetime of Conversat...,122
99998,Albert Marrin,Hardcover,"John Brown is a man of many legacies, from her...","Nonfiction,History,Biography,Military History,...",https://i.gr-assets.com/images/S/compressed.ph...,307981533,9.78031E+12,https://goodreads.com/book/show/17320669-a-vol...,256,3.63,51,A Volcano Beneath the Snow: John Brown's War A...,156
99999,Marc E. Fitch,ebook,Did you know that interest in UFO research inc...,"Fantasy,Paranormal,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,313382077,9.78031E+12,https://goodreads.com/book/show/17320689-paran...,398,3.83,3,"Paranormal Nation: Why America Needs Ghosts, U...",12

In [29]:
df.author.isna().value_counts()

False    100000
Name: author, dtype: int64

In [30]:
df.bookformat.isna().value_counts()

False    96772
True      3228
Name: bookformat, dtype: int64

In [31]:
df.bookformat.value_counts()

Paperback                53855
Hardcover                27581
ebook                     5328
Kindle Edition            4569
Mass Market Paperback     3024
                         ...
soft cover                   1
Online fiction               1
Inbunden                     1
pdf                          1
periodical                   1
Name: bookformat, Length: 202, dtype: int64

In [36]:
df.desc.isna.value_counts()

False    93228
True      6772
Name: desc, dtype: int64

In [38]:
df.genre.isna().value_counts()

False    89533
True     10467
Name: genre, dtype: int64

In [45]:
genres = set()
n_genres = []
for index, row in df.iterrows():
    if pd.isna(row['genre']):
        n_genres.append(0)
        continue
    genre_list = row['genre'].split(',')
    n_genres.append(len(genre_list))
    for g in genre_list:
        genres.add(g)
print("genres:",len(genres))
print("avg number of genres:", np.mean(n_genres))

genres: 1182
avg number of genres: 8.21244

In [46]:
df.img.isna().value_counts()

False    96955
True      3045
Name: img, dtype: int64

In [47]:
df.isbn.isna().value_counts()

False    85518
True     14482
Name: isbn, dtype: int64

In [48]:
df.isbn.value_counts()

1422189856    1
73661708      1
1426894694    1
449015831     1
263103064     1
             ..
020172152X    1
1936096498    1
1593250320    1
801082447     1
71401946      1
Name: isbn, Length: 85518, dtype: int64

In [61]:
df.isbn13.isna().value_counts()

False    88565
True     11435
Name: isbn13, dtype: int64

In [62]:
df.isbn13.value_counts()

9.78E+12       49096
9.79E+12        3663
9.78037E+12     1223
9.78081E+12      961
9.78159E+12      921
               ...
9.78575E+12        1
9.78396E+12        1
1.08318E+12        1
9.7852E+12         1
9954403019         1
Name: isbn13, Length: 725, dtype: int64

In [69]:
df.loc[df.isbn13 == '1.08318E+12'].title

93361    Modern Colloquialisms Revised - Japanese-English
Name: title, dtype: object

In [70]:
df.link.isna().value_counts()

False    100000
Name: link, dtype: int64

In [71]:
df.pages.isna().value_counts()

False    100000
Name: pages, dtype: int64

In [72]:
df.pages.value_counts()

0       7752
192     2453
224     2355
32      2239
256     2196
        ...
1698       1
1442       1
1186       1
1122       1
1727       1
Name: pages, Length: 1357, dtype: int64

In [75]:
df.rating.value_counts()

4.00    3621
0.00    1562
3.67    1248
3.75    1224
3.80    1186
        ...
2.23       1
4.95       1
2.37       1
2.30       1
2.26       1
Name: rating, Length: 289, dtype: int64

In [76]:
df.reviews.isna().value_counts()

False    100000
Name: reviews, dtype: int64

In [77]:
df.reviews.value_counts()

0        10619
1         7380
2         5445
3         4121
4         3481
         ...
1116         1
43913        1
2909         1
2589         1
2047         1
Name: reviews, Length: 2950, dtype: int64

In [78]:
df.title.isna().value_counts()

False    99999
True         1
Name: title, dtype: int64

In [79]:
df.loc[df.title.isna()]

,author,bookformat,desc,genre,img,isbn,isbn13,link,pages,rating,reviews,title,totalratings
54953,Jacqui Malpass,NaN,NaN,"Diary,Journaling",NaN,NaN,NaN,https://goodreads.com/book/show/13552877-n-a,0,3.33,3,NaN,9

In [82]:
df.totalratings.isna().value_counts()

False    100000
Name: totalratings, dtype: int64

In [83]:
df.totalratings.value_counts()

1        1797
0        1562
2        1548
3        1305
4        1184
         ...
11237       1
9188        1
12992       1
15271       1
19177       1
Name: totalratings, Length: 10536, dtype: int64

In [89]:
from string import ascii_letters, digits

In [90]:
cnt = 0
for index, row in df.iterrows():
    if set(str(row['bookformat'])).difference(ascii_letters + digits):
        print(row['bookformat'])
        cnt += 1

    if cnt == 10:
        break

Mass Market Paperback
Kindle Edition
Kindle Edition
Mass Market Paperback
Other Format
Board Book
Board Book
Mass Market Paperback
Kindle Edition
Mass Market Paperback

In [6]:
sum = 0
for i in df.itertuples():
    sum += i[11]
sum

18152845