In [6]:
import pandas as pd
import re

In [7]:
f = open("./csv/scraped_reviews.csv", encoding='utf8', mode="r")
f1 = open("./csv/reviews.csv",  encoding='utf8',mode="w")

first = True
for i in f:
    if first: 
        first = False
        f1.write('id;reviews'+'\n')
        continue 
    index = i.find(',')
    i = i.replace(';', ',').replace(',',';',1)
    f1.write(i)

In [8]:
df = pd.read_csv('./csv/reviews.csv', sep=';',  encoding='utf-8')

In [9]:
df

           id                                            reviews
0          14  ['This collection of essays is from 1994 and t...
1           2  [When I read this book, I did not know what to...
2           7  ['This was good. Very extensive. Helped in pla...
3           6  ['No atendió mi expectativa, puede que se deba...
4           8  ['Great book, full with construction details a...
...       ...                                                ...
510702  99974  ['Amazing, classic novella from SF grand maste...
510703  99974  ['Succinct and to the point, yes dated but eff...
510704  99974  [A horror story based off a perfect welfare st...
510705  99974  ['Teine kokkupuude Jack Williamsoniga. Esimene...
510706  99974  [Serve and obey, and guard men from harm!It is...

[510707 rows x 2 columns]

In [10]:
df.columns

Index(['id', 'reviews'], dtype='object')

In [11]:
def remove_plicas(x):
    if len(x) > 0:
        if x[0] == '\'': 
            x = x.replace('\'', '',1)
        if len(x)>0:
            if x[len(x)-1] == '\'': 
                x = x[:-1]
    return x

In [12]:
df['reviews'] = df['reviews'].apply(lambda x: x.replace('[','').replace(']','').replace('\\','').replace('"',''))
df['reviews'] = df['reviews'].apply(remove_plicas)

In [13]:
df['reviews']

0         This collection of essays is from 1994 and the...
1         When I read this book, I did not know what to ...
2         This was good. Very extensive. Helped in plann...
3         No atendió mi expectativa, puede que se deba p...
4         Great book, full with construction details and...
                                ...
510702    Amazing, classic novella from SF grand master ...
510703    Succinct and to the point, yes dated but effec...
510704    A horror story based off a perfect welfare sta...
510705    Teine kokkupuude Jack Williamsoniga. Esimene l...
510706    Serve and obey, and guard men from harm!It is ...
Name: reviews, Length: 510707, dtype: object

In [14]:
regex = re.compile('[®™ÙŠØ©Ð§‡Œ¯ƒŸ]')
def regex_filter(val):
    if val:
        mo = re.search(regex, val)
        if mo:
            return True
        else:
            return False
    else:
        return False

In [15]:
indexes = df[df['reviews'].apply(regex_filter)].index

df.drop(indexes , inplace=True)

In [16]:
df.to_csv('./csv/intermediate_reviews.csv', index = False)

In [17]:
df = pd.read_csv('./csv/intermediate_reviews.csv',  encoding='utf-8')

In [18]:
df.dropna()

           id                                            reviews
0          14  This collection of essays is from 1994 and the...
1           2  When I read this book, I did not know what to ...
2           7  This was good. Very extensive. Helped in plann...
3           6  No atendió mi expectativa, puede que se deba p...
4           8  Great book, full with construction details and...
...       ...                                                ...
509883  99974  Amazing, classic novella from SF grand master ...
509884  99974  Succinct and to the point, yes dated but effec...
509885  99974  A horror story based off a perfect welfare sta...
509886  99974  Teine kokkupuude Jack Williamsoniga. Esimene l...
509887  99974  Serve and obey, and guard men from harm!It is ...

[509758 rows x 2 columns]

In [19]:
df.to_csv('./csv/final_reviews.csv', index = False)